:root {
  --bg-game: #030728;
  --border-color: #232f6f;
  --Z-tetriminium: #ff0101;
  --S-tetriminium: #34df09;
  --L-tetriminium: #ff5c00;
  --O-tetriminium: #efd917;
  --I-tetriminium: #07b7ee;
  --T-tetriminium: #bd00ff;
  --J-tetriminium: #0038ff;
  --color-letra: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-game);
  font-family: "Inter", sans-serif;
}

.gameSpace {
  display: flex;
  flex-direction: row;
}
.welcome p {
  position: relative;
  left: 100px;
}

/*Welcome title*/
.welcome p {
  text-align: center;
  font-size: clamp(1.463rem, 5vw, 2.5rem);
  font-weight: bold;
  color: white;
}

/*------------welcome letter color------------*/

.welcome p,
button {
  background-image: linear-gradient(
    to right,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
  );
  background-size: 110vw;
}
ul img {
  width: 30px;
  height: 30px;
}
.vector {
  width: 25px;
  height: 25px;
}

ul {
  list-style: none;
}

ul li {
  margin-top: 40px;
}
.primera-parte {
  display: flex;
  justify-content: center;
}

.parrafos p {
  margin-top: 50px;
  color: var(--color-de-letras);
  width: 165px;
}

#instrucciones-movil #boton {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
h3 {
  text-align: center;
}
#score {
  font-size: 25px;
  display: flex;
  justify-content: center;
}
/*Home button styles*/
/*estilos del boton de inicio*/

button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: 900;
}

/*------------------------*/
button a {
  text-decoration: none;
  color: var(--color-enlaces);
}
/*---------------------------------*/

.entrada-de-bienvenida h1,
button {
  animation: sliding 60s linear infinite;
}

.welcome p {
  animation: sliding 60s linear infinite;
}

@keyframes sliding {
  to {
    background-position: -2000vw;
  }
}

.welcome p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Instruction side*/
h3 {
  font-size: clamp(0.8rem, 2vw, 1.17rem);
}
.instructions {
  padding-left: 2%;
  width: 20%;
  display: flex;
  flex-direction: column;
  color: white;
}

.instructions p {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.instruction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.instruction img {
  width: 30px;
  height: 30px;
}

/*Tetris canvas*/
.tetris {
  display: flex;
  justify-content: center;

  width: 100%;
}

/*styles for mobile instructions*/
#instrucciones-movil {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#movil-instructions {
  display: none;
}
.header {
  display: none;
}
@media (max-width: 768px) {
  .instruction {
    display: none;
  }
  #movil-instructions {
    display: block;
  }
  .header {
    width: 100%;
  }

  ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  ul li {
    margin: 0 20px;
  }

  li,
  a {
    color: var(--color-letra);
    font-size: 25px;
    font-weight: 900;
  }

  #puntos p {
    margin: 20px 20px;
  }

  .welcome p {
    position: relative;
    left: 0;
    font-size: 30px;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .instructions {
    display: none;
  }
}
