:root {
  --bg-game: #030728;
  --border-color: #232f6f;
  --font-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-game);
  font-family: "Inter", sans-serif;
}
/*Welcome title*/
.welcome p {
  text-align: center;
  font-size: clamp(1.563rem, 5vw, 2.3rem);
  font-weight: bold;
  color: white;
  animation: sliding 60s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2%;
}
/*------------welcome letter color------------*/
.welcome p,
button {
  background-image: linear-gradient(
    to right,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
  );
  background-size: 110vw;
}
@keyframes sliding {
  to {
    background-position: -2000vw;
  }
}
.gameSpace {
  display: flex;
  flex-flow: row wrap;
}
.game-score{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.texts {
  font-size: clamp(0.8rem, 2vw, 1.17rem);
  color: white;
  font-weight: bold;
  text-align: center;
}
#score{
  font-size:clamp(1.7rem, 3vw, 2rem);
}
ul {
  list-style: none;
  padding: 0;
}
/*Tetris canvas*/
.tetris {
  width: 50%; 
  display: flex;
  justify-content: center;
}
#canva{
  border: 3px solid #7000FF;
}


/*Instruction side*/
.instructions {
  width: 25%;
  display: flex;
  flex-direction: column; 
}
.instruction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding-left: 4%;
  color: white;
}
.instruction img {
  width: 30px;
  height: 30px;
}


/*styles for mobile instructions*/
#instrucciones-movil {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#movil-instructions {
  display: none;
}
.modal-instructions{
  display: none;
}
@media (max-width: 768px) {
  .gameSpace{
    width: 100%;
  }
  .game-score{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 100%;
    align-items: baseline;
  }
  .points{
    width: 30%;
  }
  .next{
    width: 30%;
  }
  .modal-instructions{
    display: block;
    width: 30%;
    text-align: center;
    color: var(--font-color);
  }
  .instruction {
    display: none;
  }
  #movil-instructions {
    display: block;
  }
  a {
    color: var(--font-color);
    font-size: clamp(0.8rem, 2vw, 1.17rem);
    font-weight:bold;
  }
  #texts p {
    margin: 20px 20px;
  }

  .instructions {
    display: none;
  }
  .tetris{
    width: 100%;
  }
}
