@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --bg-game: #030728;
  --border-color: #232f6f;
  --font-color: #fff;
  --font: "Press Start 2P", cursive;
}
body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-game);
}
button {
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 4px outset #fff;
  background-color: #000;
  border-radius: 15%;
}
/*Welcome title*/
.welcome p,
h2 {
  text-align: center;
  font-family: var(--font);
  font-size: clamp(1.563rem, 5vw, 2.3rem);
  font-weight: bold;
  color: white;
  animation: sliding 60s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}
/*------------welcome letter color------------*/
.welcome p,
h2 {
  background-image: linear-gradient(
    to right,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
  );
  background-size: 110vw;
}
@keyframes sliding {
  to {
    background-position: -2000vw;
  }
}
.gameSpace {
  display: flex;
  flex-flow: row wrap;
}
.game-score {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}
.texts,
h3 {
  width: 100%;
  font-size: clamp(0.5rem, 2vw, 1.15rem);
  color: white;
  font-weight: lighter;
  text-align: center;
  font-family: var(--font);
  line-height: 40px;
}
#score,
h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
ul {
  list-style: none;
  padding: 0;
}
.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  border: 4px outset #fff;
  background-color: #000;
}
.restart img {
  width: 30px;
  height: 30px;
  padding: 6px;
}
/*Tetris canvas*/
.tetris {
  width: 50%;
  display: flex;
  justify-content: center;
}
#canva {
  border: 3px solid #7000ff;
  width: 100%;
  height: 100%;
}

/*Controls*/
.controls {
  width: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  border-radius: 35px;
}
.controls img {
  width: 40px;
  height: 40px;
}
.up-button,
.sides-button,
.down-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.left {
  margin-right: 50%;
}

.instruction {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding-left: 4%;
  color: white;
  font-family: var(--font);
  font-size: 1rem;
}
.instruction p {
  line-height: 25px;
}
/*styles for mobile instructions*/
#instrucciones-movil {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#instrucciones {
  margin-top: 20%;
  color: var(--font-color);
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-weight: lighter;
}
#movil-instructions {
  display: none;
}
/*----------------------parte de la pagina modal-------------------*/
.modal-capita {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: none;
  justify-content: center;
}
.modal-fondo {
  display: flex;
}
.modal {
  background: #000;
  width: 600px;
  height: 550px;
  position: relative;
  top: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s;
}
.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.7s;
}

.lbl-modal {
  cursor: pointer;
}

#instrucciones-movil {
  transition: all 500ms ease;
  box-shadow: 1px 7px 25px rgb(0, 0, 0, 0, 6);
}

.btn-modal {
  color: var(--font-color);
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: lighter;
  margin: 2%;
}
/*-------------------------*/
.primera-parte {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.primera-parte img {
  margin: 0 10px;
}

#instrucciones-movil #boton {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
#boton button {
  background-color: #7cd1f9;
  border: 0px solid #7cd1f9;
  color: #000;
  width: 30%;
  font-size: 1.5rem;
  border-radius: 10px;
}

#movil-instructions {
  display: block;
}

/*----------------footer-----------------*/

footer {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(250, 249, 249);
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 5px solid rgb(65, 64, 64);
  box-shadow: 5px 5px 150px rgb(45, 224, 248);
}
.javascript img {
  width: 30px;
  height: 30px;
}
.logos i {
  color: yellow;
}
.logos{
  display: flex;
  flex-flow: row wrap;
}
.logos,
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  font-size: 30px;
}
.codigo i {
  color: rgb(75, 75, 75);
}
.html5 {
  color: orangered;
}
.css3 {
  color: #2594c7;
}
.centro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centro i,
.javascript img {
  margin: 10px 10px;
}
footer h2 {
  font-size: 15px;
}
footer li {
  font-size: 10px;
}
footer .parrafos{
  display: flex;
  width: 33%;
  justify-content: center;
}
@media (max-width: 768px) {
  .gameSpace {
    width: 100%;
  }
  .game-score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 100%;
    align-items: baseline;
  }
  .points {
    width: 30%;
  }
  .next {
    width: 30%;
  }
  a {
    margin-top: 0;
  }
  .controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
  }
  .controls .texts {
    width: 25%;
  }
  .controls img {
    width: 30px;
    height: 30px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }

  .up-button,
  .down-button {
    width: 20%;
  }
  .left,
  .right {
    width: 40%;
    margin-right: 3%;
  }

  #texts p {
    margin: 20px 20px;
  }
  .restart {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 110px;

    border: 4px outset #fff;
    background-color: #000;
  }
  .restart img {
    width: 25px;
    height: 25px;
  }
  .tetris {
    display: flex;
    width: 90%;
    margin-left: 5%;
  }
  .modal {
    width: 300px;
  }
  .welcome p {
    margin-top: 50px;
    font-size: 25px;
  }

  .logos,
  .centro {
    font-size: 15px;
  }
  footer h2 {
    font-size: 10px;
  }
  footer li {
    font-size: 10px;
    margin: 10px 20px;
  }
  footer {
    justify-content: center;
  }
  .javascript img {
    width: 15px;
    height: 15px;
  }
  .centro {
    margin: 20px 30px;
  }
  footer .parrafos{
    font-size: 5px;
  }
}
